@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Sans+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Sans+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*-- scss:defaults --*/
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #ddd !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// Plasma colors
// viridisLite::viridis(7, option = "plasma", begin = 0, end = 0.9)

// Viridis colors
// viridisLite::viridis(6, option = "viridis", begin = 0, end = 1)
//$blue:   #0D0887 !default;  // Plasma[1]
$blue:    #F8CB42 !default;
$indigo: #5601A4 !default;  // Plasma[2]
$purple: #900DA4 !default;  // Plasma[3]
$pink:   #BF3984 !default;  // Plasma[4]
$red:    #E16462 !default;  // Plasma[5]
$orange: #FFBD59 !default;  // Plasma[6]
$yellow: #FCCE25 !default;  // Plasma[7]
$green:  #7AD151 !default;  // Viridis[5]
$teal:   #2A788E !default;  // Viridis[3]
$cyan:   #22A884 !default;  // Viridis[4]

// Sky colors (tailwind)
$sky-50: #f0f9ff !default; 
$sky-100: #e0f2fe !default; 
$sky-200: #bae6fd !default; 
$sky-300: #7dd3fc !default; 
$sky-400: #38bdf8 !default; 
$sky-500: #0ea5e9 !default; 
$sky-600: #0284c7 !default; 
$sky-700: #0369a1 !default; 
$sky-800: #075985 !default; 
$sky-900: #0c4a6e !default;

// Green colors (tailwind)
$green-50: #f0f9ff !default; 
$green-100: #dcfce7 !default; 
$green-200: #bbf7d0 !default; 
$green-300: #86efac !default; 
$green-400: #4ade80 !default; 
$green-500: #22c55e !default; 
$green-600: #16a34a !default; 
$green-700: #15803d !default; 
$green-800: #166534 !default; 
$green-900: #14532d !default;

// Orange colors (tailwind)
$orange-50: #fff7ed !default; 
$orange-100: #fef3c7 !default; 
$orange-200: #fde68a !default; 
$orange-300: #fcd34d !default; 
$orange-400: #fbbf24 !default; 
$orange-500: #f59e0b !default; 
$orange-600: #d97706 !default; 
$orange-700: #b45309 !default; 
$orange-800: #92400e !default; 
$orange-900: #78350f !default;

$primary:       $black !default;
$secondary:     $gray-500 !default;
$success:       $green !default;
$info:          $pink !default;
$warning:       $yellow !default;
$danger:        $orange !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$font-family-sans-serif:      Fira Sans Condensed, sans-serif !default;
$font-family-serif:           Barlow, serif !default;  /* Not actually a serif font but whatever */

$font-size-base:              1.2rem !default;
$headings-font-weight:        700 !default;

$h1-font-size: $font-size-base * 2.35;
$h2-font-size: $font-size-base * 1.8;
$h3-font-size: $font-size-base * 1.45;
$h4-font-size: $font-size-base * 1.1;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * 0.8;

$toc-font-size: 0.95rem;
$sidebar-font-size: 1.1rem;
$sidebar-font-size-section: 0.95rem;
$footer-font-size: 0.95rem;

$link-color: $orange-500;
$link-hover-color: $pink;

// Inline code
$code-bg: $gray-200 !default;
$code-color: $gray-900 !default;

/*-- scss:rules --*/
h2 {
  border-bottom: 1px solid $gray-500;
}

// ul,
// ol {
//   font-family: $font-family-serif;
// }

// Slightly bigger callouts
.callout.callout-style-default .callout-body,
.callout.callout-style-default > div.callout-header {
  font-size: 1.1rem;
}

/*-- scss:rules --*/

// The left hand sidebar
$grid-sidebar-width: 250px !default;

// The main body
$grid-body-width: 850px !default;

// The right hand margin bar
$grid-margin-width: 400px !default;

// The gutter that appears between the above columns
$grid-column-gutter-width: 1.5rem !default;